---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon/components";
import Card from "@components/card.astro";

const rules = [
  {
    title: "Parking",
    description:
      "Each full-time resident is allowed to park one vehicle in the common area parking spots. Visitors <b>must</b> park off-site or in the carport of the resident they are visiting.",
    icon: "bx:bxs-car",
  },
  {
    title: "Drive with caution!",
    description:
      "Children often play in our complex. Please adhere to a speed limit of 15 km/h when driving on Braemoor, Moorside, and Ridgemoor Place to ensure their safety.",
    icon: "bx:bxs-error",
  },
  {
    title: "Carport care",
    description:
      "A tidy carport can help deter theft and break-ins. According to our Strata Rules and Bylaws, carports must be kept neat and free of stored items, except for garbage containers, a recycle box, large recreational equipment, a garden hose, and neatly stacked firewood.",
    icon: "bx:bxs-trash-alt",
  },
  {
    title: "Common courtesy",
    description:
      "Common areas, sidewalks, and roadways are for everyone's use. Many residents and neighborhood walkers use our complex. Please be considerate and ensure that items are not left overnight in these shared spaces",
    icon: "bx:bxs-wink-smile",
  },
  {
    title: "Renovations",
    description: [
      '<b>Exterior Changes:</b> Any renovation that alters the exterior structure or appearance requires prior written approval from the council. Please use the "Permission to Alter Building Envelope" form for such changes. Provide detailed information in your request.',
      "<b>Interior Changes:</b> Interior improvements or upgrades must comply with local building codes, permits, and inspection processes where applicable. Cosmetic improvements like flooring or trim do not require council permission unless specified.",
      "<b>Insurance and Compliance:</b> Consult the strata insurance policy, the Strata Property Act, and your own insurance policy to determine coverage responsibilities for renovations and improvements. The Strata reserves the right to remove or repair, at the owner's cost, any improvement or renovation done without prior written permission or that does not meet building standards.",
      "<b>Always Ask:</b> It's always better to ask for permission before starting any project. For more information, read <a href='/public/MISC/CHOA__900-013-15042016-Renovating-my-Condo-What-can-I-do.pdf'>this helpful article</a>",
    ],
    icon: "bx:bxs-home-smile",
  },
];

const download_links = [
  {
    name: "STRATA NW2040 ",
    price: "Bylaws",
    popular: true,
    button: {
      text: "Download",
      link: "/MISC/2020-01-01-Strata-NW2040-Bylaws.pdf",
    },
  },
  {
    name: "STRATA NW2040 ",
    price: "Rules",
    popular: true,
    button: {
      text: "Download",
      link: "/MISC/2024-12-01-Strata-NW2040-Rules.pdf",
    },
  },
];
---

<Layout title="">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Strata Bylaws & Rules</Fragment>
      <Fragment slot="desc">Effective November 1, 2017 </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-12 mx-auto max-w-screen-md mt-12">
      {download_links.map((item) => <Card plan={item} />)}
    </div>

    <hr class="mt-16 dark:border-gray-700" />

    <div class="grid sm:grid-cols-2 md:grid-cols-1 gap-10 mt-16">
      {
        rules.map((item) => (
          <div class:list={["flex gap-4 items-start"]}>
            <div class="mt-1 bg-black dark:bg-gray-700 rounded-full p-2 w-8 h-8 shrink-0">
              <Icon class="text-white" name={item.icon as any} />
            </div>
            <div>
              <h3 class="font-semibold text-lg text-gray-900 dark:text-gray-100">{item.title}</h3>
              {Array.isArray(item.description) ? (
                item.description.map((text) => (
                  <p class="text-slate-500 dark:text-gray-300 mt-2 leading-relaxed" set:html={text} />
                ))
              ) : (
                <p class="text-slate-500 dark:text-gray-300 mt-2 leading-relaxed" set:html={item.description} />
              )}
            </div>
          </div>
        ))
      }
      <p class="text-slate-500 dark:text-gray-300 mt-2 leading-relaxed">
        Thank you for your cooperation in maintaining a safe and pleasant environment for all residents!
      </p>
    </div>
  </Container>
</Layout>
