---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800 dark:text-gray-100">Contact MountainGate</h2>
        <p class="text-lg leading-relaxed text-slate-500 dark:text-gray-300 mt-3">
          The Mountaingate Strata Council is a dedicated team of resident volunteers committed to the maintenance and
          improvement of our strata complex. To protect the privacy of our council members, we do not share their
          personal phone numbers or email addresses.
        </p>

        <p class="text-lg leading-relaxed text-slate-500 dark:text-gray-300 mt-3">
          Please use the contact form below to reach the Strata Council.
        </p>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
