---
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Hero />
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl my-12 lg:mt-16">
      <h2 class="font-bold text-3xl text-gray-800 dark:text-gray-100">About the Mountain Gate community</h2>
      <p class="text-lg leading-loose text-slate-500 dark:text-gray-300">
        Mountain Gate is a strata of 36 townhomes nestled in a forested area at the South Eastern base of Burnaby
        Mountain in Burnaby, British Columbia; a suburb of Metro Vancouver. The community is surrounded by rich
        greenspace within easy walking access to parks and kilometres of walking trails. Just as close for the more
        adventurous there are many hiking and mountain biking trails that criss cross Burnaby Mountain. The Mountain
        Gate community provides a natural escape from the city without having to escape the city.
      </p>
      <p class="text-lg leading-loose text-slate-500 dark:text-gray-300 mt-4">
        Mountain Gate was built in 1983. The complex is comprised of 9 buildings with 4 attached townhomes. The family
        friendly homes range from 1600 square feet to over 1700 square feet in size. This self-managed community has
        been well-maintained since day one to ensure owners enjoy their homes worry-free.
      </p>
      <p class="text-lg leading-relaxed text-slate-500 dark:text-gray-300 mt-4">
        Mountain Gate enjoys easy and convenient access to schools, shopping, entertainment and both transit (bus and
        Skytrain) and major commuter routes. Lougheed Town Centre, specialty stores and many grocery outlets are all
        within a five minute drive. Lougheed Highway and the Trans Canada Highway are directly near enough to be
        extremely convenient and far enough away not to be heard. Simon Fraser University sits atop of Burnaby Mountain
        in Moutaingate's back yard.
      </p>
    </div>
  </Container>
</Layout>
