---
import Container from "@components/container.astro";
import LinkList from "@components/link-list.astro";
import Section from "@components/section.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import {
  convertGlobToLinkList,
  groupStrataMeetingMinutesPerYear,
  toHumanReadableFormat,
} from "@utils/get-all-files-from-folder";

const SMM = groupStrataMeetingMinutesPerYear(await Astro.glob("../../public/SMM/*.pdf"));
const AGM = convertGlobToLinkList(await Astro.glob("../../public/AGM/*.pdf"));
const DR = convertGlobToLinkList(await Astro.glob("../../public/DEPRECIATION_REPORTS/*.pdf"));
const FINANCIAL_STATEMENT_LINKS = convertGlobToLinkList(await Astro.glob("../../public/FINANCIAL_STATEMENTS/*.pdf"));
---

<Layout title="">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Meetings</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-12 mt-12">
      <div class="flex gap-2 flex-col">
        <Section
          name="Strata Meeting Minutes"
          blurb="Strata meetings are held approximately every 4 to 6 weeks. Minutes will be posted here and distributed to owners within 10 business days from the previous meeting."
        >
          {
            Object.entries(SMM)
              .reverse()
              .map(([year, entries]) => {
                return (
                  <div class="ps-8 pt-4">
                    <Section as="h4" name={year}>
                      <LinkList
                        links={(entries as string[]).map((href) => ({
                          text: toHumanReadableFormat(href),
                          href,
                        }))}
                        external
                      />
                    </Section>
                  </div>
                );
              })
          }
        </Section>
      </div>
      <div class="flex gap-12 flex-col">
        <Section
          name="AGM Meeting Minutes"
          blurb="AGM Meetings are scheduled no sooner than October 15 and no later than November 15 of the operational year"
        >
          <LinkList links={AGM} external />
        </Section>

        <Section name="Financial Statements" blurb="Financial years operate September 1 through August 31">
          <LinkList links={FINANCIAL_STATEMENT_LINKS} external />
        </Section>
      </div>
    </div>
  </Container>
</Layout>
