---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/card.astro";

const pricing = [
  {
    name: "STRATA NW2040 ",
    price: "BYLAWS",
    popular: false,
    features: [],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "STRATA NW2040 ",
    price: "Rules",
    popular: true,
    features: [],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
