---
import Container from "@components/container.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import heroImage from "assets/logo.svg";
import heroDarkImage from "assets/logo-dark.svg";
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";
import { Image } from "astro:assets";

const menuitems = [
  {
    title: "Bylaws & Rules",
    path: `/bylaws-and-rules/`,
  },
  {
    title: "Roles and Responsibilities",
    path: `/roles-and-responsibilities/`,
  },
  {
    title: "Meetings & Reports",
    path: `/meetings-reports/`,
  },
  {
    title: "Forms & Links",
    path: `/forms-links/`,
  },
  //   {
  //     title: "Green Bin Schedule",
  //     path: `/green-bin-schedule/`,
  //   },
  {
    title: "Contact",
    path: `/contact/`,
  },
];
---

<div
  class="sticky top-0 z-40 w-full backdrop-blur flex-none lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/75 supports-backdrop-blur:bg-white/60 dark:bg-transparent print:hidden"
>
  <Container>
    <header class="z-40 sticky py-5 top-0 flex flex-col lg:flex-row justify-between items-center">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href={`/`} class="text-lg tracking-tighter">
            <div class="flex flex-row gap-1 items-center">
              <div class="relative w-[50px] h-[50px] overflow-hidden">
                <Image 
                  src={heroImage} 
                  alt="" 
                  width="50" 
                  loading="eager" 
                  format="svg" 
                  class="absolute inset-0" 
                />
                <Image 
                  src={heroDarkImage} 
                  alt="" 
                  width="50" 
                  loading="eager" 
                  format="svg" 
                  class="absolute inset-0 [&_.celestial]:rotate-[-360deg] [&_.celestial]:scale-0 [&_.celestial]:opacity-0 dark:[&_.celestial]:rotate-0 dark:[&_.celestial]:scale-100 dark:[&_.celestial]:opacity-100" 
                />
                <style>
                  .celestial {
                    transform-origin: center;
                    transition: all 500ms ease;
                  }
                </style>
              </div>
              <div class="flex flex-col gap-px-1">
                <div>
                  <span class="font-bold text-slate-900 dark:text-white">Mountain</span>
                  <span class="text-slate-800 dark:text-gray-200">Gate</span>
                </div>
                <span class="font-thin text-xs text-slate-400 dark:text-gray-400">Strata NW2040</span>
              </div>
            </div>
          </a>
          <div class="block lg:hidden pt-1 px-2 bg-slate-100/75 border-2 rounded-md">
            <MenuIcon class="w-4 h-4 text-gray-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <>
                  <li>
                    <a
                      href={item.path}
                      class={`flex lg:px-3 py-2 items-center text-slate-700 dark:text-gray-100 hover:text-gray-900 dark:hover:text-white hover:underline ${
                        Astro.url.pathname === item.path && "text-gray-900 dark:text-white underline"
                      } `}
                    >
                      <span>{item.title}</span>
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
          <ThemeToggle />
        </MenuItems>
      </Astronav>
    </header>
  </Container>
</div>
