---
// import heroImage from "assets/hero.svg";
import Container from "@components/container.astro";
---

<div
  class:list={[
    "lg:h-[calc(100vh-300px)]",
    "h-fit",
    "lg:bg-[url(/hero.webp)]",
    "bg-[url(/hero-mobile.webp)]",
    "bg-cover",
    "bg-right-bottom",
  ]}
>
  <div class="bg-center flex lg:h-[calc(100vh-300px)] h-fit bg-opacity-70 bg-slate-800 py-16 lg:py-0">
    <Container class="grid lg:grid-cols-2 place-items-center">
      <div></div>
      <div class="lg:text-right text-center lg:order-1">
        <h1
          class:list={[
            "text-5xl",
            "lg:text-6xl",
            "xl:text-7xl",
            "font-bold",
            "lg:tracking-tight",
            "xl:tracking-tighter",
            "text-slate-200",
            "drop-shadow-md",
          ]}
        >
          <span class="font-normal">Welcome to</span><br />
          Mountain Gate
        </h1>
        <p class="text-lg mt-4 text-slate-300 drop-shadow-md">
          A natural escape from the city &mdash;<em>without having to escape the city.</em>
        </p>
      </div>
    </Container>
  </div>
</div>
