---
import { Image } from "astro:assets";
import heroImage from "assets/beer.svg";
---

<div class="grid lg:grid-cols-2 place-items-center py-16">
  <div class="md:order-1 hidden md:block">
    <Image src={heroImage} alt="" width="400" loading="eager" format="svg" />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      <span class="font-normal">Welcome to</span> Mountain Gate
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      A natural escape from the city &mdash; <em>without having to escape the city</em>
      .
    </p>
  </div>
</div>
