---
type Props = {
  name: string;
  blurb?: string;
  as?: string;
};

const { name, blurb, as: Tag = "h3" } = Astro.props;
---

<div>
  <Tag class="font-semibold text-lg text-gray-900 dark:text-gray-100">{name}</Tag>
  {blurb && <p class="text-sm font-medium text-gray-600 dark:text-gray-300" set:html={blurb} />}
  <slot />
</div>
